<div class="row">
	<div class="col-md-12">
		
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Fees</h3></div>
			<div class="panel-body">
				<div class="container">
					<div class="row">
                        <ul>
                            <li>Free for now!</li>
                        </ul>
                    </div> 
                    <div class="row">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeDg5lKA8-oAn7fJUEjtQ9JcHxWY9x6jATmug5rUwnD329oVA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                    </div>
				</div>
			</div>
		</div>
        
	</div>
</div>