<div id="wrapper">

    <div class="row">

        <div class="col-md-12">
            
            <embed src="/TOS.pdf" width="100%" height="700px" type='application/pdf'>

            <hr>

            <form action='/sign_up'>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> 
                            <input type="checkbox" name="tos_agreement" value="true"> I Have Read and Accept the Terms of Service
                        </div>  
                    </div>
                </div>

                <div class="actions">
                    <input type="submit" value="I Accept"  class="btn btn-primary">
                </div>

            </form>
            
        </div>    
    </div>

</div>

